body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f9fa;;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
@font-face {
  font-family: 'bold';
  src: url('./assets/fonts/Poppins/Poppins-Bold.ttf');
}
@font-face {
  font-family: 'semi-bold';
  src: url('./assets/fonts/Poppins/Poppins-Black.ttf');
}
@font-face {
  font-family: 'regualar';
  src: url('./assets/fonts/Poppins/Poppins-Regular.ttf');
}
